/* style1.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
button {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: palevioletred;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: palevioletred;
}
